*\build
*.swo
*.swp
*.suo
*.dep 
*.aps 
*.vbw 
*.suo 
*.obj 
*.ncb 
*.plg 
*.bsc 
*.ilk 
*.exp 
*.sbr 
*.opt 
*.pdb 
*.idb 
*.pch 
*.res 
*.user
*\obj
*\bin
*\Debug
*\Release
Thumbs.db 
*.exe
*.dll
.DS_Store
*.pyc
*.log
